<div class="_popup _langko">
	<div id="_wrap">
		<div class="_popupInner">
			<div class="_popHeader">
				<span class="pop_Title"> 일괄등록양식 다운로드</span>
				<a href="javascript:void(0);" ng-click="closeThisDialog();" class="pop_close">close</a>
			</div>
			<div class="_popContent">
				<div class="popconBox">
					<header id="_popupHeader">
						<h1>일괄등록양식 다운로드</h1>
					</header>
					<div id="_articleContent" class="_articleContent">
						<div class="_insert">
							<div class="_areaButton w100">
								<div class="_center">
									<span class="_button _large "><a href="javascript:void(0);" ng-click="downloadDocForm()" class="_blockUI wx165">일괄등록양식 다운로드</a></span>
								</div>
							</div>
		                    <div class="_table">
		                        <h2 class="cont_Title">항목별 등록 안내</h2>
		                        <table class="_table _view w100">
		                            <caption>항목별 등록 안내 표</caption>
		                            <colgroup>
		                                <col style="width:150px;">
		                                <col>
		                                <col>
		                            </colgroup>
		                            <thead>
		                                <tr>
		                                    <th>항목<span class="mark"></span></th>
		                                    <th>예시<span class="mark"></span></th>
		                                    <th><span class="mark"></span></th>
		                                </tr>
		                            </thead>
		                            <tbody>
		                                <tr>
		                                    <th>학년<span class="mark"></span></th>
		                                    <td>1</td>
		                                    <td>학년 입력 (1, 2, 3, 4, 5, 6)</td>
		                                </tr>
		                                <tr>
		                                    <th>학수번호<span class="mark"></span></th>
		                                    <td>B07103201</td>
		                                    <td>각 과목별 학수번호 입력, 중복불가, <span class="caution">숫자 or 영문만 입력가능</span></td>
		                                </tr>
		                                <tr>
		                                    <th>이수구분<span class="mark"></span></th>
		                                    <td>전공기초</td>
		                                    <td>이수구분 입력</td>
		                                </tr>
		                                <tr>
		                                    <th>과목명<span class="mark"></span></th>
		                                    <td>인성과 도덕</td>
		                                    <td>과목명 입력</td>
		                                </tr>
		                                <tr>
		                                    <th>학점<span class="mark"></span></th>
		                                    <td>3</td>
		                                    <td>부여할 학점 입력,<span class="caution">숫자만 입력가능</span></td>
		                                </tr>
		                                <tr>
		                                    <th>분반<span class="mark"></span></th>
		                                    <td>01</td>
		                                    <td>각 분반 코드 입력 (01, 02, 03), 중복불가, <span class="caution">숫자 or 영문만 입력가능</span></td>
		                                </tr>
		                                <tr>
		                                    <th>학과<span class="mark"></span></th>
		                                    <td>역사학과</td>
		                                    <td>학과명 입력</td>
		                                </tr>
		                                <tr>
		                                    <th>요일 및 시간<span class="mark"></span></th>
		                                    <td>월 화 13:00~14:00, 목 16:00~17:00</td>
		                                    <td>요일 및 시간 입력</td>
		                                </tr>
		                                <tr>
		                                    <th>대표교수<span class="mark"></span></th>
		                                    <td>홍길동</td>
		                                    <td>과목 대표 교수명 입력</td>
		                                </tr>
		                                <tr>
		                                    <th>학생<span class="mark"></span></th>
		                                    <td>10</td>
		                                    <td>과목별 신청 가능 학생인원 입력</td>
		                                </tr>
		                                <tr>
		                                    <th>청강생<span class="mark"></span></th>
		                                    <td>5</td>
		                                    <td>과목별 신청 가능 시민인원 입력</td>
		                                </tr>
		                                <tr>
		                                    <th>수강대상/유의사항<span class="mark"></span></th>
		                                    <td>원어민 강의</td>
		                                    <td>수강대상/유의사항 입력</td>
		                                </tr>
		                                <tr>
		                                    <th>학생/청강생 수강여부<span class="mark"></span></th>
		                                    <td>학생, 청강생, 학생+청강생</td>
		                                    <td>학생 또는 청강생 수강여부 입력</td>
		                                </tr>
		                            </tbody>
		                        </table>
		                    </div>
						</div>
						<div class="_areaButton">
							<div class="_center">
								<span class="_button _large blackBtn"><a href="javascript:void(0);" ng-click="closeThisDialog();" >닫기</a></span>
							</div>
						</div>
					</div><!-- #_articleContent" -->
				</div>
			</div>
		</div>
	</div>
</div>