<div>
	<div class="layer-wrap">
		<div class="section-wrap idpw-wrap">
			<div class="inner">
				<a href="javascript:void(0);" ng-click="closeLayerPopup()" class="btn-layer-x" tabindex="-2"><span><span class="hidden">창닫기</span></span></a>
				<div class="layer-container">
				<!-- 휴면계정 복원인증 : 본인 인증 -->
					<h2 class="title">휴면계정 복원 인증</h2>
					<p class="tx-idpw">* 휴면계정을 복원하기 위해 본인인증을 진행해주세요.</p>
					<section class="section-confirm">
						<div class="box box1">
							<h3 class="title-confirm">휴대폰 인증</h3>
							<button type="button" class="btn btn-blue" ng-click="cellPhoneCertificate()">인증하기</button>
						</div>
						<div class="box box2">
							<h3 class="title-confirm">EPKI 인증</h3>
							<button type="button" class="btn btn-blue" ng-click="epkiCertificate()">인증하기</button>
						</div>
					</section>
				<!-- //휴면계정 복원인증 : 본인 인증 -->
				</div>
				<div class="layer-footer">
					<div class="btn-area">
						<a href="javascript:void(0);" class="btn btn-gray btn-layer-close" ng-click="closeLayerPopup();"><span>닫기</span></a>
					</div>
				</div>
			</div>
 		</div>
	</div>
</div>