<div class="_popup _langko">
	<div id="_wrap">
		<header id="_popupHeader">
			<h1>강제탈퇴 사유</h1>
		</header>
		<div id="_articleContent">
			<div class="_insert">
				<textarea id="withdrawReason" ng-model="withdrawReason" placeholder="내용을 입력해 주세요 (100자 이내)"></textarea>
			</div>
			<div class="_areaButton border1px">
				<div class="_center">
					<span class="_button _large blackBtn tabInnBtn"><a href="javascript:void(0);" class="wx88" ng-click="updateForcedWithdraw()">확인</a></span>
					<span class="_button _large borderBtn tabInnBtn"><a href="javascript:void(0);" class="wx88" ng-click="closeThisDialog()">취소</a></span>
				</div>
			</div>
		</div>
	</div>
</div>




